{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}
            <h2 class="text-center">请求内容</h2>
            <table class="table table-hover row">
                <thead class="thead-light w-100">
                    <tr class="row">
                        <th class="col-4">类别</th>
                        <th class="col-8">内容</th>
                    </tr>
                </thead>
                <tbody class="w-100">
                <tr class="row">
                    <th class="col-4">预约编号</th>
                    <th class="col-8">{{ RequestNumber | safe}}</th>
                </tr>
                <tr class="row">
                    <th class="col-4">项目类型</th>
                    <th class="col-8">{{ RequestType | safe }}</th>
                </tr>
                <tr class="row">
                    <th class="col-4">项目内容</th>
                    <th class="col-8">{{ RequestContent | safe}}</th>
                </tr>
                <tr class="row">
                    <th class="col-4">预约时间</th>
                    <th class="col-8">{{ RequestTargetData | safe }}</th>
                </tr>
                <tr class="row">
                    <th class="col-4">发起预约时间</th>
                    <th class="col-8">{{ RequestDate | safe }}</th>
                </tr>
                <tr class="row">
                    <th class="col-4">预约状态</th>
                    <th class="col-8">{{ RequestStatus | safe }}</th>
                </tr>
                </tbody>
            </table>
            {% if RequestStatus == "已预约" %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">接受</button>
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">警告</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    真的要接受{{ project }}的预约吗？？？
                </div>
                <div class="modal-footer">
                    <a href="/RequstAnswer/sub/{{ project }}/check/" class="btn btn-danger" role="button">确定</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
                        
{% endblock %}
