<!-- 载入静态文件 -->
{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
</head>

<body>
    <form action="/Comment/post-comment/{{ project }}/{{ parent_comment_id }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div id="test">
                {{ comment_form.media }}
                {{ comment_form.body }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/popper/popper-1.14.4.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- csrf token -->
    <script src="{% static 'dist/js/csrf.js' %}"></script>


</body>
</html>
